.flashcard__border-container {
  width: 100%;
}

.flashcard__border {
  width: 100%;
  height: 4vh;
  background-color: #FFB400;
}

.flashcard__border-background {
  height: 5vh;
  background-size: 4rem 4rem;
  background-image: linear-gradient(-45deg, #FFB400 50%, transparent 50%),
  linear-gradient(45deg, #FFB400 50%, transparent 50%);
  background-repeat: repeat-x;
}
