.info__container {
  display: flex;
  height: 100%;
  gap: 4rem;
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

@media (min-width: 1000px) {
  .info__container {
    display: flex;
    flex-direction: column;
    margin-top: 0;
  }
}
