.flashcard-modal__container {
  text-align: center;
  padding: 4rem 2rem;
}

.flashcard-modal__title {
  font-size: 2rem;
  color: #FFB400;
  margin-top: 0;
  margin-bottom: 4rem;
}

.flashcard-modal__content {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
  width: 70%;
  margin: 0 auto;
}

.flashcard-modal__input-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 60%;
}

.flashcard-modal__input {
  all: unset;
  font-size: 3rem;
  width: 50%;
}

.flashcard-modal__arrow-up,
.flashcard-modal__arrow-down {
  font-size: 2rem;
  cursor: pointer;
}

.flashcard-modal__button {
  all: unset;
  font-weight: bold;
  background: #F4442E;
  color: #F9F9F9;
  border-radius: 16px;
  cursor: pointer;
  font-size: 2rem;
  padding: 1rem 2rem;
  max-height: 4rem;
}

@media (min-width: 600px) {
  .flashcard-modal__title {
    font-size: 2.5rem;
  }

  .flashcard-modal__content {
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
  }
}
