.timer__container {
  width: 50%;
}

.timer__title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.timer__time {
  font-size: 3rem;
  font-weight: bold;
  color: #F4442E;
}

.timer__time-hidden {
  opacity: 0;
}

@media (min-width: 600px) {
  .timer__container {
    width: 100%;
  }

  .timer__title {
    font-size: 2rem;
  }

  .timer__time {
    font-size: 4rem;
  }
}
