.verb__header-container {
  width: 100%;
  height: 60vh;
  background-color: #FFB400;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.verb__container-background {
  height: 10vh;
  background-size: 4rem 4rem;
  background-image: linear-gradient(-45deg, transparent 50%, #FFB400 50%),
  linear-gradient(45deg, transparent 50%, #FFB400 50%);
  background-repeat: repeat-x;
  margin-bottom: 4rem;
}

.verb__header {
  font-size: 4rem;
  color: #F4442E;
  margin-bottom: 1rem;
}

.verb__translations {
  font-size: 1rem;
  text-align: center;
  padding: 0 2rem;
}

@media (min-width: 800px) {
  .verb__header {
    font-size: 6rem;
  }

  .verb__translations {
    font-size: 1.2rem;
    text-align: center;
  }
}
