.tense-group__list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 28rem;
  margin: 0 auto 1rem auto;
  justify-content: space-evenly;
  height: 3rem;
  font-weight: bold;
}

.tense-group__double-list {
  height: 6rem;
}

.tense-group__list li {
  width: 30%;
  cursor: pointer;
  height: 2rem;
}

.tense__underline {
  border: 1.5px solid #FFB400;
  border-radius: 8px;
  width: 40%;
  bottom: 1.5rem;
  margin: 0.2rem auto 0 auto;
}

@media (min-width: 800px) {
  .tense-group__list {
    width: 80%;
    max-width: 32rem;
    height: 3rem;
  }

  .tense-group__list li {
    width: 20%;
  }
}
