.results_practice {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4rem;
  max-width: 70rem;
  margin: 0 auto 4rem auto;
  box-sizing: border-box;
  padding: 0 2rem;
}

.profile__button {
  all: unset;
  font-weight: bold;
  border-radius: 16px;
  cursor: pointer;
  background: #F4442E;
  padding: 0.5rem 1rem;
  text-align: center;
  color: #F9F9F9;
  box-sizing: border-box;
}

@media (min-width: 800px) {
  .results_practice {
    grid-template-columns: 1fr 1fr;
    gap: 5%;
  }
}
