.learn__container {
  /* margin-bottom: 16rem; */
  overflow: hidden;
  position: relative;
  padding-bottom: 2rem;
  background: linear-gradient(25deg, #FFB400 85%, transparent 85%);
}

/*
.learn__container-background::before {
  content: "";
  position: absolute;
  margin-top: 30vh;
  width: 100%;
  height: 380vh;
  z-index: 0;
  clip-path: polygon(0% 0%, 100% 10%, 100% 100%, 0% 100%);
  background: #FFB400;
  margin-bottom: 20vh; */
  /* background: linear-gradient(25deg, #FFB400 80%, transparent 80%); */
/* } */

.learn__cards {
  padding: 0 1rem;
  position: relative;
}

@media (min-width: 800px) {
  .learn__cards {
    padding: 0 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
    justify-items: center;
  }

  .learn__container {
    background: linear-gradient(15deg, #FFB400 70%, transparent 70%);

    /* margin-top: 30vh;
    height: 160vh;
    clip-path: polygon(0% 0%, 100% 15%, 100% 100%, 0% 100%); */
  }
}
