.details__section {
  padding: 0 2rem;
}

.details__container {
  margin: 4rem auto;
  padding: 4rem 2rem;
  background: white;
  box-shadow: 0px 18px 36px -18px rgba(0,0,0,0.1),0px 30px 45px -30px rgba(50,50,93,0.25);
  border-radius: 8px;
  box-sizing: border-box;
  max-width: 66rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-evenly;
}

.details__grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-row-gap: 1.5rem;
  grid-row-column: 8rem;
  margin-bottom: 2rem;
}

.details__detail {
  padding: 0 2rem;
}

.details__title {
  font-size: 2rem;
  font-weight: bold;
  color: #FFB400;
  text-align: center;
  margin-bottom: 1rem;
}

.details__category {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.details__info {
  font-style: italic;
}

.details__button_container {
  text-align: center;
}

.details__button {
  all: unset;
  font-weight: bold;
  border-radius: 16px;
  cursor: pointer;
  background: #F4442E;
  padding: 0.5rem 1rem;
  text-align: center;
  color: #F9F9F9;
  box-sizing: border-box;
}

@media (min-width: 800px) {
  .details__container {
    padding: 4rem;
  }

  .details__grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .details__detail {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
  }

  .details__category {
    margin-bottom: 0;
  }
}
