.verb-cards__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 22rem;
  margin-bottom: 4rem;
  grid-gap: 1rem;
  margin: 0 auto 4rem auto;
}

.verb-cards__button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
}

.verb-cards__add-button {
  all: unset;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem 2rem;
  background: #F4442E;
  color: #F9F9F9;
  border-radius: 16px;
  cursor: pointer;
  margin-top: 1rem;
  max-width: 8rem;
  justify-self: center;
}

@media (min-width: 700px) {
  .verb-cards__container {
    padding: 0 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 40rem;
    grid-gap: 2rem;
  }
}

@media (min-width: 1200px) {
  .verb-cards__container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    max-width: 70rem;
  }
}
