.buttons__container {
  display: flex;
  flex-direction: column;
  margin: 0 auto 4rem auto;
  width: 100%;
  align-items: center;
  gap: 1rem;
}

.signup__button {
  all: unset;
  font-weight: bold;
  font-size: 1.5rem;
  border-radius: 16px;
  cursor: pointer;
  background: white;
  padding: 1rem 2rem;
  width: 12rem;
  color: #F4442E;
  box-sizing: border-box;
}

.signup__button-active {
  color: white;
  background: #F4442E;
}

@media (min-width: 800px) {
  .buttons__container {
    flex-direction: row;
    max-width: 28rem;
    justify-content: space-between;
  }
}
