.header__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(-15deg, #F4442E 49%, #FFB400 49%);
}

.header__title {
  font-size: 6rem;
  margin: 0;
  background: linear-gradient(-15deg, #FFB400 46%, #F4442E 46%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header__slogan {
  font-size: 1.2rem;
  font-weight: bold;
  color: #FFB400;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  white-space: pre;
}

@media (min-width: 800px) {
  .header__title {
    font-size: 8rem;
  }

  .header__slogan {
    font-size: 1.5rem;
    margin-top: 0.5rem;
    flex-direction: row;
    align-items: center;
  }
}


/*
RED
#FE4A49
#FE654F
#FB3640
#F4442E
#FF312E
#F42C04

YELLOW
#FFBC42 darker
#FFC800 brighter
#F8C537 muted
#EDB230 darker
#FFB400

PALE
#F9F9F9
#FFECD1
#E0E1E9
#DBD9DB
#D8CBC7
#F4F4F8
#F9F5FF
#EEEEEE
#FFEDDF
#E2E2E2

*/
