.header__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(-15deg, #F4442E 52%, #FFB400 52%);


  margin-bottom: 6rem;
}

.header__title {
  font-size: 6rem;
  margin: 1rem;
  background: linear-gradient(-15deg, #FFB400 46.8%, #F4442E 46.8%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*
RED
#FE4A49
#FE654F
#FB3640 ?
#F4442E
#FF312E
#F42C04

YELLOW
#FFBC42 darker
#FFC800 brighter
#F8C537 muted
#EDB230 darker
#FFB400

PALE
#F9F9F9
#FFECD1
#E0E1E9
#DBD9DB
#D8CBC7
#F4F4F8
#F9F5FF
#EEEEEE
#FFEDDF
#E2E2E2

*/
